//Максимальная ширина контейнера
$container-max-widths: (
    sm: 33.75em,
    md: 45em,
    lg: 60em,
    xl: 71.25em,
    xxl: 82.5em) !default;

//Количество колонок
$grid-columns: 12 !default;

//Расстояние между элементами
$grid-gap: 2rem !default;
$grid-gap-side: calc($grid-gap / 2
);

//Контрольные точки
/* $grid-breakpoints: (
    xs: 32em,
    sm: 57.6em,
    md: 76.8em,
    lg: 99.2em,
    xl: 120em,
    xxl: 140em) !default; */

/* $grid-breakpoints: (
    xxl: 87.5em,
    xl: 75em,
    lg: 62em,
    md: 48em,
    sm: 36em,
    xs: 20em) !default; */

$grid-breakpoints-min: (
    xs: 0,
    sm: 36em,
    md: 48em,
    lg: 62em,
    xl: 75em,
    xxl: 87.5em) !default;